In [4]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix

In [5]:
books = pd.read_csv('../data/Books.csv',  encoding='latin-1', on_bad_lines='skip')
users = pd.read_csv('../data/Users.csv',  encoding='latin-1', on_bad_lines='skip')
ratings = pd.read_csv('../data/Ratings.csv',  encoding='latin-1', on_bad_lines='skip')
ratings.columns = ratings.columns.str.strip()
books.columns = books.columns.str.strip()

C:\Users\ali\AppData\Local\Temp\ipykernel_15832\3894335283.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('../data/Books.csv',  encoding='latin-1', on_bad_lines='skip')

In [5]:
books.info()
users.info()
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249936 entries, 0 to 249935
Data columns (total 1 columns):
 #   Column                                                                                         Non-Null Count   Dtype
---  ------                                                                                         --------------   -----
 0   ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L  249936 non-null  object
dtypes: object(1)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278698 entries, 0 to 278697
Data columns (total 1 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   User-ID,Location,Age  278698 non-null  object
dtypes: object(1)
memory usage: 2.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 1 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   User-ID,ISBN,Book-Rating  1149780 non-null  object
dtypes: object(1)
memory usage: 8.8+ MB

In [7]:
books.describe()

       ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count                                              249936
unique                                             249936
top     0195153448,Classical Mythology,Mark P. O. Morf...
freq                                                    1

In [8]:
users.describe()

           User-ID,Location,Age
count                    278698
unique                   278698
top     1,"nyc, new york, usa",
freq                          1

In [9]:
ratings.describe()

       User-ID,ISBN,Book-Rating
count                   1149780
unique                  1149780
top         276725,034545104X,0
freq                          1

In [6]:
##saving only meaningful rating
ratings = ratings[ratings['Book-Rating'] >0]
print(ratings.columns.tolist())

['User-ID', 'ISBN', 'Book-Rating']

In [7]:
# Merge ratings with books
ratings_with_books = ratings.merge(books, on='ISBN')
ratings_with_books.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276726,0155061224,5,Rites of Passage,Judith Rae,2001,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
1,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
2,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
3,276744,038550120X,7,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
4,276747,0060517794,9,Little Altars Everywhere,Rebecca Wells,2003,HarperTorch,http://images.amazon.com/images/P/0060517794.0...,http://images.amazon.com/images/P/0060517794.0...,http://images.amazon.com/images/P/0060517794.0...

In [9]:
book_counts = ratings_with_books.groupby('Book-Title').count()['Book-Rating']
popular_books = book_counts[book_counts >= 10].index

user_counts = ratings_with_books.groupby('User-ID').count()['Book-Rating']
active_users = user_counts[user_counts >= 10].index

filtered_df = ratings_with_books[
    (ratings_with_books['Book-Title'].isin(popular_books)) & 
    (ratings_with_books['User-ID'].isin(active_users))
]
filtered_df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
39,276822,0060096195,10,The Boy Next Door,Meggin Cabot,2002,Avon Trade,http://images.amazon.com/images/P/0060096195.0...,http://images.amazon.com/images/P/0060096195.0...,http://images.amazon.com/images/P/0060096195.0...
43,276822,0375821813,9,Hoot (Newbery Honor Book),CARL HIAASEN,2002,Knopf Books for Young Readers,http://images.amazon.com/images/P/0375821813.0...,http://images.amazon.com/images/P/0375821813.0...,http://images.amazon.com/images/P/0375821813.0...
48,276822,0786817070,10,"Artemis Fowl (Artemis Fowl, Book 1)",Eoin Colfer,2002,Miramax Kids,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...,http://images.amazon.com/images/P/0786817070.0...
51,276822,1573248533,10,Random Acts of Kindness,Dawna Markova,2002,Conari Press,http://images.amazon.com/images/P/1573248533.0...,http://images.amazon.com/images/P/1573248533.0...,http://images.amazon.com/images/P/1573248533.0...
58,276847,3404148576,8,Nordermoor,Arnaldur Indridason,2003,LÃ?ÃÂ¼bbe,http://images.amazon.com/images/P/3404148576.0...,http://images.amazon.com/images/P/3404148576.0...,http://images.amazon.com/images/P/3404148576.0...

In [11]:
counts = filtered_df["User-ID"].value_count()
print(counts)

AttributeError: 'Series' object has no attribute 'value_count'